body {
    font-family: sans-serif;
    background-color: #fcfbf9;
}
.basket-wrap {padding: 0 80px;}
.basket-relative {
    position: relative;
}
.basket-counter {
    position: absolute;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    width: 15px;
    height: 15px;
    line-height: 10px;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
.basket-counter span {
    color: #fff;
    font-size: 10px;
}

/* backet-header */
.basket-header {
    padding-bottom: 70px;
}
.basket-header__left {
    float: left;
    width: 50%;
}
.basket-header-name {
    padding-top: 20px;
    font-size: 40px;
    font-weight: 300;
    line-height: 18px;
}
.basket-header__right {
    float: left;
    width: 50%;
}
.basket-header__right span,
.basket-header__right a {display: block;}

.basket-header__right span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}
.basket-header__right a {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
/* basket-header end */



/* basket */
.basket {
    background-color: #fff;
    padding: 60px 0 170px;
}
.basket__product {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 30px;
}
.basket__product-left,
.basket__product-right {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    /* flex: 1; */
}
.basket__product-right {justify-content: space-between;}
.basket__product-img {
    width: 130px;
    height: 190px;
    background-color: #f4f0e5;
    text-align: center;
    margin-right: 25px;
}
.basket__product-img img {
    max-width: 100%;
    height: 80%;
    transform: translateY(15%);
}
.basket__product-text h3, span{display: block;}
.basket__product-text span{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.basket__product-text h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}
.basket__product-right {
    margin-left: auto;
}
.basket__product-price,
.basket__product-amount,
.basket__product-total,
.basket__product-delete {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.basket__product-delete {cursor: pointer;}

.basket__result {
    float: right;
}
.basket__result-total {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
}
.basket__result-total b {float: right;}
/* basket end */